img {
    width: 100px;
}

@font-face {
    font-family: 'Lato-Regular';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    text-align: center;
    font-family: 'Lato-Regular', monospace;
    background-color: black;
    color: white;
    max-width: 50vw;
    margin: 0 auto;
    word-wrap: break-word;
    line-height: 1.8;
}